<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.itheima"></context:component-scan>
    <!--视图解析器-->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
        <!-- controller中的方法返回的是success, 那么最终得到的路径是
        前缀/WEB-INF/pages/success.jsp后缀，即为物理页面的路径
        -->
    </bean>
    <!--使用tomcat的defaultServlet来处理html,css,js,png
    dispatcherServlet拦截的是*.do, 此时就不需要这个default-servlet-handler
                            / ，default-servlet-handler 过滤静态资源
    -->
    <mvc:default-servlet-handler/>
    <!--springmvc框架自动配置 注解驱动,
   conversion-service增加使用转换工厂，增加-->
    <mvc:annotation-driven conversion-service="conversionService"/>
    <!--参数转换工厂-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!--加载自定义 的转换器-->
                <bean class="com.itheima.converter.MyDateConverter"/>
            </set>
        </property>
    </bean>
</beans>